* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.logo {
    position: relative;
    top: -40px;
    height: 100px;
}

.perfil-de-usuario img {
    position: relative;
    left: 87%;
    top: -70px;
    height: 25px;
}

i {
    position: absolute;
    left: 93%;
    top: 10px;
}

.menu-container {
    position: fixed;
    display: inline-block;
    padding: 20px;
    background-color: #e00908;
    height: 60px;
    width: 100%;
    z-index: 3;
}

#menu-icon {
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
    position: relative;
    left: 87%;
    top: -75px;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #33333380;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 2;
    left: 93%;
    top: 50px;
    backdrop-filter: blur(20px);
}

.dropdown-menu a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-menu a:hover {
    background-color: #333333;
}

.banner img {
    position: relative;
    display: flex;
    height: 250px;
    width: 1290px;
    top: 90px;
    border-radius: 50px;
    left: 35px;
}

.tenis1 img {
    height: 250px;
    position: relative;
    left: 75px;
    top: 70px;
    ;
}

.tenis2 img {
    height: 170px;
    position: relative;
    left: 370px;
    top: 35px;
}

.tenis3 img {
    height: 250px;
    position: relative;
    top: 430px;
}

.tenis4 img {
    height: 150px;
    position: relative;
    left: 120px;
}

footer {
    position: fixed;
    background-color: #e00908;
    color: white;
    text-align: left;
    padding: 10px 0;
    margin-top: auto;
    height: 60px;
    width: 100%;
    top: 94%;
}

footer p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.footer-links {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.footer-links a {
    color: white;
    text-decoration: none;
    margin: 0 5px;
    position: relative;
    left: 1000px;
    top: -20px;
}

.footer-links a:hover {
    text-decoration: underline;
    display: inline-block;
}


/* site todo acaba aqui*/

.tenisinicial img {
    position: relative;
    top: 100px;
    margin-left: 70px;
    height: 250px;
}


/* paginia inicial acaba aqui */

.produtos1 img {
    position: relative;
    left: 30px;
    height: 250px;
}

.produtos1 {
    position: relative;
    border: 1px solid black;
    width: 300px;
    top: 100px;
    left: 20px;
    height: 400px;
    border-radius: 15px;
    background-color: #D9D9D950;
    backdrop-filter: blur(10px);
}

.produtos1 h2 {
    position: relative;
    left: 50px;
}

.produtos1 h4 {
    position: relative;
    left: 50px;
    top: -10px;
    color: #e00908;
}

.produtos1 button {
    top: -5px;
    position: relative;
    font-size: 20px;
    left: 70px;
    border-radius: 10px;
    background-color: #00FF1A;
}

.produtos2 img {
    position: relative;
    left: 40px;
    top: -1px;
    height: 250px;
}

.produtos2 {
    border: 1px solid black;
    height: 400px;
    width: 300px;
    position: relative;
    left: 35%;
    top: -300px;
    border-radius: 15px;
    background-color: #D9D9D950;
    backdrop-filter: blur(10px);
}

.produtos2 h2 {
    position: relative;
    left: 50px;
}

.produtos2 h4 {
    position: relative;
    left: 50px;
    top: -10px;
    color: #e00908;
}

.produtos2 button {
    top: -10px;
    position: relative;
    font-size: 20px;
    left: 70px;
    border-radius: 10px;
    background-color: #00FF1A;
}

.produtos3 {
    border: 1px solid black;
    height: 400px;
    width: 300px;
    position: relative;
    left: 70%;
    top: -700px;
    border-radius: 15px;
    background-color: #D9D9D950;
    backdrop-filter: blur(10px);
}

.produtos3 img {
    height: 230px;
    position: relative;
    left: 30px;
    top: 15px;
}

.produtos3 h2 {
    position: relative;
    left: 50px;
    top: 5px;
}

.produtos3 h4 {
    position: relative;
    left: 50px;
    top: 5px;
    color: #e00908;
}

.produtos3 button {
    top: 5px;
    position: relative;
    font-size: 20px;
    left: 70px;
    border-radius: 10px;
    background-color: #00FF1A;
}

.produtos4 {
    border: 1px solid black;
    height: 400px;
    width: 300px;
    position: relative;
    left: 20px;
    top: -650px;
    border-radius: 15px;
    background-color: #D9D9D950;
    backdrop-filter: blur(10px);
}

.produtos4 img {
    height: 250px;
    position: relative;
    left: 20px;
}

.produtos4 h2 {
    position: relative;
    left: 50px;
}

.produtos4 h4 {
    position: relative;
    left: 50px;
    top: -10px;
    color: #e00908;
}

.produtos4 button {
    top: -10px;
    position: relative;
    font-size: 20px;
    left: 70px;
    border-radius: 10px;
    background-color: #00FF1A;
}


/* produtos acaba aqui */

.entregas h1 {
    font-size: 50px;
    text-align: center;
    font-style: italic;
    position: absolute;
    margin-top: 200px;
    margin-left: 175px;
}

.entregas p {
    font-size: 25px;
    text-align: left;
    font-style: italic;
    position: absolute;
    margin-top: 300px;
    margin-left: 170px;
    padding: 10px;
    width: 450px;
    word-wrap: break-word;
}

.entregas a {
    position: relative;
    top: 415px;
    left: 520px;
    font-style: italic;
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.devolucoes h1 {
    font-size: 50px;
    text-align: center;
    font-style: italic;
    position: absolute;
    margin-top: 170px;
    margin-left: 703px;
}

.devolucoes p {
    font-size: 25px;
    text-align: left;
    font-style: italic;
    position: absolute;
    margin-top: 270px;
    margin-left: 700px;
    padding: 10px;
    width: 460px;
    word-wrap: break-word;
}

.devolucoes a {
    position: relative;
    top: 415px;
    left: 1120px;
    text-decoration: none;
    font-size: 20px;
    color: black;
}

.devolucoesmais h3 {
    font-size: 25px;
    text-align: center;
    font-style: italic;
    position: absolute;
    text-align: left;
    margin-top: 190px;
    margin-left: 120px;
    padding: -1px;
    width: 800px;
    word-wrap: break-word;
}

.devolucoesmais p {
    font-size: 20px;
    text-align: left;
    font-style: italic;
    position: absolute;
    margin-top: 250px;
    margin-left: 110px;
    padding: 10px;
    width: 500px;
    word-wrap: break-word;
}

.devolucoesmais img {
    position: absolute;
    margin-top: 140px;
    margin-left: 900px;
}

.entregasmais h3 {
    font-size: 30px;
    text-align: center;
    font-style: italic;
    position: absolute;
    text-align: left;
    margin-top: 170px;
    margin-left: 150px;
    padding: 10px;
    width: 600px;
    word-wrap: break-word;
}

.entregasmais p {
    font-size: 20px;
    text-align: left;
    font-style: italic;
    position: absolute;
    margin-top: 250px;
    margin-left: 150px;
    padding: 10px;
    width: 500px;
    word-wrap: break-word;
}

.entregasmais img {
    position: relative;
    margin-left: 800px;
    margin-top: 130px;
}

.politicas p {
    font-size: 25px;
    text-align: left;
    font-style: italic;
    position: absolute;
    margin-top: 120px;
    margin-left: 400px;
    padding: 10px;
    width: 700px;
    word-wrap: break-word;
}

.termos {
    font-size: 25px;
    text-align: left;
    font-style: italic;
    position: absolute;
    margin-top: 200px;
    margin-left: 400px;
    padding: 10px;
    width: 700px;
    word-wrap: break-word;
}


/* login acaba aqui */

.contato {
    position: relative;
    top: 130px;
    left: 20px;
    width: 300px;
    height: 400px;
    border: 1px solid #fafafa80;
    background-color: #fafafa40;
    border-radius: 8px;
    padding: 24px;
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 8px #24242480;
}

form {
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: center;
}

.contato-text {
    position: relative;
    left: 25px;
}

.tenis {
    width: 1200px;
    margin: 80px auto;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.tenis .foto {
    width: 590px;
    display: flex;
    gap: 20px;
    align-items: center;
}

.tenis .foto img {
    width: 100%;
}

.fotoGrande {
    width: 470px;
    height: 470px;
    overflow: hidden;
}

.fotoGrande img {
    width: 100%;
    transition: .3s;
}

.fotoGrande img:hover {
    transform: scale(1.1) rotate(-5deg);
}

.fotoPequena {
    width: 120px;
}

.fotoPequena .fotos {
    width: 120px;
    height: 120px;
    cursor: pointer;
}

.fotoPequena .fotos img {
    width: 100%;
}

.comprar {
    width: 590px;
}

.comprar h1 {
    width: 100%;
}

.comprar h2 {
    font-size: 40px;
}

.comprar p.pix {
    font-size: 16px;
    font-weight: 600;
}

.comprar p.parcela {
    font-size: 14px;
    font-weight: 400;
    color: #464646;
}

.comprar h3 {
    margin-top: 16px;
}

.comprar .cores {
    width: 100%;
    height: 140px;
    display: flex;
    justify-content: start;
    gap: 20px;
    padding: 20px 0;
}

.comprar .cores .cor {
    width: 100px;
    height: 100px;
}

.cor img {
    height: 100px;
}

.tamanho {
    width: 100%;
    display: flex;
    gap: 12px;
    padding: 16px 0;
}

.tamanho input {
    display: none;
}

.tamanho label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 30px;
    background-color: #aeceff;
    border-radius: 8px;
}

.tamanho input:checked+label {
    background-color: red;
}

.tenis button {
    width: 200px;
    height: 32px;
    text-transform: uppercase;
    border-radius: 16px;
    outline: none;
}

button:hover {
    filter: brightness(80%);
}

.carrinho {
    background-color: #fafafa;
    border: 1px solid #242424;
}

.comprarAgora {
    background-color: lightgreen;
    border: 1px solid green;
}